@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.user-card {
    border: 15px solid #e5e7eb;
    border-top: none;
}

@media screen and (min-width: 640px) {
    .user-card {
        border: 20px solid #e5e7eb;
        border-top: none;
        border-left: none;
    }
}